/* Navigation */
.#{$prefix}-navigation{
    background-color: $color_light_gray;
    max-width: $width_container;
    margin: 0 auto;
    position: relative;

    img{
      width: 100%;
      height: auto;
    }

    &.el-menu::before{
      display: block;
      width: 200%;
      position: absolute;
      top: 0;
      left: -50%;
      background-color: inherit;
      bottom: -1px;
      right: 0;
      border-bottom: 1px solid #E6E6E6;
      z-index: -1;
    }

    &.el-menu--horizontal > .el-menu-item.is-active{
      position: relative;
      box-shadow: 0 11px 10px -10px rgba($color_blue, 0.7);

      &::before{
        content: '';
        display: block;
        color: #303133;

        bottom: -4px;
        height: 3px;
        left: 0;
        right: 0;
        position: absolute;
        background-color: $color_blue;
        border-radius: 1px;
      }

    }

    .fa,
    .far{
      line-height: inherit;
      margin-right: 7px;
      opacity: 0.7;
    }

    .el-menu-item,
    &.el-menu--horizontal>.el-submenu .el-submenu__title{
      color: $color_dark_gray;
      background-color: transparent !important;

      &:hover{
        color: #000;

        .fa,
        .far{
          opacity: 1;
        }
      }

      &--gray{
        color: gray;
      }
    }
}
.el-menu--popup{
  min-width: 170px;

  &.el-menu .el-menu-item{
    padding: 0 15px;
  }
}
.el-menu--popup-bottom-start{
  margin-top: 1px;
}
.el-menu--horizontal[x-placement]{
  border-bottom: none !important;
}
